@import "tailwindcss";
@import "tw-animate-css";

.root {
  isolation: isolate;
}

.auth-button {
  overflow: hidden;
  padding-top: 0rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}

.gradient {
  background: #36365e;
  background: linear-gradient(
    165deg,
    rgba(54, 54, 94, 1) 0%,
    rgba(49, 49, 77, 1) 66%,
    rgba(194, 184, 184, 1) 100%
  );
}
